  <!-- Main Content start-->
  <div class="content">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="contact-form" *ngIf="!isSubmitMessageVisible">
               <h3 class="title">Pošaljite nam e-mail</h3>
               <p>
                  Javite nam se sa zahtjevom za našim uslugama i odgovorit ćemo vam u što skorijem roku.
               </p>
               <div class="divider"></div>
               <form #contact="ngForm" (ngSubmit)="sendMail(contact)" class="reply" novalidate>
                  <fieldset>
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           <label>Ime: <span>*</span></label>
                           <input class="form-control" [(ngModel)]="contactForm.name" #name="ngModel" id="name" name="name" type="text" required>
                           <app-show-errors [control]="name"></app-show-errors>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           <label>E-mail:</label>
                           <input class="form-control" [(ngModel)]="contactForm.email" #email="ngModel" type="email" id="email" name="email">
                           <app-show-errors [control]="email"></app-show-errors>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <label>Telefon: <span>*</span></label>
                           <input class="form-control" [(ngModel)]="contactForm.phone" #phone="ngModel" id="subject" name="subject" type="text" required>
                           <app-show-errors [control]="phone"></app-show-errors>
                          </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <label>Poruka: <span>*</span></label>
                           <textarea class="form-control" [(ngModel)]="contactForm.message" #message="ngModel" type="text" id="text" name="text" rows="3" cols="40" required></textarea>
                           <app-show-errors [control]="message"></app-show-errors>
                          </div>
                     </div>
                     <div class="row" [hidden]="true">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <label>Test: <span>*</span></label>
                           <input class="form-control" [(ngModel)]="contactForm.spamFilter" id="subject" name="subject" type="text">
                          </div>
                     </div>
                  </fieldset>
                  <button class="btn btn-normal btn-color submit  bottom-pad" type="submit" [disabled]="contact.invalid">Pošalji</button>
                  <div class="clearfix">
                  </div>
               </form>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="contact-form" *ngIf="isSubmitMessageVisible">
                <p>Vaša poruka je uspješno poslana.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
               <div class="address widget">
                  <h3 class="title">Kopiring</h3>
                  <ul class="contact-us">
                     <li>
                        <i class="fa fa-map-marker"></i>
                        <p>
                           <strong class="contact-pad">Adresa:</strong> Sukoišanska 43<br>
                        21000 Split
                        </p>
                     </li>
                     <li>
                        <i class="fa fa-phone"></i>
                        <p>
                           <strong>Telefon:</strong> 021 484 833
                        </p>
                     </li>
                     <li>
                        <i class="fa fa-envelope"></i>
                        <p>
                           <strong>E-mail:</strong><a href="mailto:kopiring.split@st.t-com.hr">kopiring.split@st.t-com.hr</a>
                        </p>
                     </li>
                  </ul>
               </div>
               <div class="contact-info widget">
                  <h3 class="title">Radno vrijeme</h3>
                  <ul class="business-hour">
                     <li><i class="fa fa-clock-o"> </i>Ponedjeljak - Petak - 7:00 do 14:00 i 17:00 do 18:00 </li>
                     <li><i class="fa fa-clock-o"> </i>Subota - 8:00 do 11:00</li>
                     <li><i class="fa fa-times-circle-o"> </i>Nedjelja - Zatvoreno</li>
                  </ul>
               </div>
               <div class="follow widget">
                  <h3 class="title">Pratite nas</h3>
                  <div class="member-social dark">
                     <a class="facebook" href="http://www.facebook.com/kopiring"><i class="fa fa-facebook"></i></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="divider"></div>
      </div>
   </div>
   <!-- Main Content end-->
