<!-- Our Clients Start-->
<div class="our-clients">
    <div class="bg-overlay">
         <div class="container">
            <div class="row">
               <div class="client">
                  <div class="client-logo">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="clients-title">
                           <h3 class="title">Naši klijenti</h3>
                           <div class="carousel-controls pull-right">
                              <a class="prev" href="#client-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                              <a class="next" href="#client-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                           <div id="client-carousel" class="client-carousel carousel slide">
                              <div class="carousel-inner">
                                 <div class="item active padding-top-50px">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d1">
                                       <div class="item-inner"><a href="#"><img alt="Upportdash" src="assets/img/clientslogo/fakultet.png"></a></div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d2">
                                       <div class="item-inner"><a href="#"><img alt="Upportdash" src="assets/img/clientslogo/geoprojekt.png"></a></div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d3">
                                       <div class="item-inner"><a href="#"><img alt="Upportdash" src="assets/img/clientslogo/pomgrad.png"></a></div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d4">
                                       <div class="item-inner"><a href="#"><img alt="Upportdash" src="assets/img/clientslogo/dalkoning.png"></a></div>
                                    </div>
                                 </div>
                                 <div class="item padding-top-50px">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                                       <div class="item-inner"><a href="#"><img alt="Upportdash" src="assets/img/clientslogo/strabag.png"></a></div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                                       <div class="item-inner"><a href="#"><img alt="Upportdash" src="assets/img/clientslogo/kuzmanic.jpg"></a></div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                                       <div class="item-inner"><a href="#"><img alt="Upportdash" src="assets/img/clientslogo/neir.png"></a></div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                                       <div class="item-inner"><a href="#"><img alt="Upportdash" src="assets/img/clientslogo/projektnibiro.jpg"></a></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
    </div>
  </div>
  <!-- Our Clients End -->  
