<footer id="footer">
    <!-- Footer Top Start -->
    <div class="footer-top">
       <div class="container">
          <div class="row">
             <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                <h3>O nama</h3>
                <p> 
                    Kopiring d.o.o. je tvrtka s dugogodišnjim iskustvom u izradi projektno-tehničke dokumentacije. Obavljamo usluge za arhitektonske biroe, 
                    građevinske tvrtke, elektroinženjere, brodograditelje i sve druge djelatnosti kojima je potreban kvalitetan ispis koji radimo na suvremenim HP i Ricoh uređajima. Obratite nam se s povjerenjem. 
                </p>
             </section>
             <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
                <h3>Kontakt</h3>
                <ul class="contact-us">
                   <li>
                      <i class="fa fa-map-marker"></i>
                      <p> 
                         <strong class="contact-pad">Adresa:</strong> Sukoišanska 43<br> 21000 Split
                      </p>
                   </li>
                   <li>
                      <i class="fa fa-phone"></i>
                      <p><strong>Telefon:</strong> 021 484 833</p>
                   </li>
                   <li>
                      <i class="fa fa-envelope"></i>
                      <p><strong>Email:</strong><a href="mailto:kopiring.split@st.t-com.hr">kopiring.split@st.t-com.hr</a></p>
                   </li>
                </ul>
             </section>
             <section class="col-lg-6 col-md-6 col-xs-12 col-sm-6 footer-three">
                <h3>Gdje smo?</h3>
                    <div id="map" class="map"></div>  
             </section>
          </div>
       </div>
    </div>
    <!-- Footer Top End --> 
    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> &copy; Copyright 2017 <a href="#">Kopiring</a>. Sva prava pridržana. </div>
             <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                <ul class="social social-icons-footer-bottom">
                   <li class="facebook"><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <!-- Footer Bottom End --> 
 </footer>