<div class="container">
  <div class="divider"></div>
    <div class="row">
        <div class="clearfix"></div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
          <div class="row">
            <div class="portfolio">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web jquery item">
                <div class="portfolio-item">
                  <a href="assets/img/jumboprint/jumboprint1.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                    <span class="portfolio-item-hover"></span>
                    <span class="fullscreen">
                      <i class="fa fa-search"></i>
                    </span>
                    <img src="assets/img/jumboprint/jumboprint1.jpg" alt=" " />
                  </a>
                  <div class="portfolio-item-title">
                    <a href="single-project.html">Design Team</a>
                    <p>
                      Design / Development
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp css item">
                <div class="portfolio-item">
                  <a href="assets/img/jumboprint/jumboprint2.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                    <span class="portfolio-item-hover"></span>
                    <span class="fullscreen">
                      <i class="fa fa-search"></i>
                    </span>
                    <img src="assets/img/jumboprint/jumboprint2.jpg" alt=" " />
                  </a>
                  <div class="portfolio-item-title">
                    <a href="single-project.html">Super Boy</a>
                    <p>
                      Fashion / Style
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 php jquery wp item">
                <div class="portfolio-item">
                  <a href="assets/img/jumboprint/jumboprint3.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                    <span class="portfolio-item-hover"></span>
                    <span class="fullscreen">
                      <i class="fa fa-search"></i>
                    </span>
                    <img src="assets/img/jumboprint/jumboprint3.jpg" alt=" " />
                  </a>
                  <div class="portfolio-item-title">
                    <a href="single-project.html">Lady Shop</a>
                    <p>
                      Business / Ecommerce
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp jquery css item">
                <div class="portfolio-item">
                  <a href="assets/img/jumboprint/jumboprint4.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                    <span class="portfolio-item-hover"></span>
                    <span class="fullscreen">
                      <i class="fa fa-search"></i>
                    </span>
                    <img src="assets/img/jumboprint/jumboprint4.jpg" alt=" " />
                  </a>
                  <div class="portfolio-item-title">
                    <a href="single-project.html">Office Workers</a>
                    <p>
                      Design / Development
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div class="divider"></div>
  <div class="row">

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
      <h3 class="title">Ispis na samoljepljive medije</h3>
      <div class="accordionMod panel-group">
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Permanent Gloss Adhesive Vinyl </h4>
          <section class="accordion-inner panel-body">
            <p>
              Povoljan, visoko-kvalitetan, samoljepljivi vinil pogodan za široki spektar primjena u interijeru i eksterijeru. Neke od tih
              primjena su freske, oglasi, POP prikazi, grafika za konferencije i sajmove. Neprozirna, sjajna površina medija
              pogodna je za prikazivanje živopisnih detalja i boja, a ispisi su dugotrajni i izdržljivi.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Photo-realistic Poster Paper</h4>
          <section class="accordion-inner panel-body">
            <p>
              Povoljan, visoko-kvalitetan, samoljepljivi vinil pogodan za široki spektar primjena u interijeru i eksterijeru. Neke od tih
              primjena su freske, oglasi, POP prikazi, grafika za konferencije i sajmove. Neprozirna, mat površina medija
              pogodna je za prikazivanje živopisnih detalja i boja, a ispisi su dugotrajni i izdržljivi.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP PVC-free Gloss Adhesive Film</h4>
          <section class="accordion-inner panel-body">
            <p>
              Alternativa monomerskom vinilu bez PVC-a. Ovaj bijeli PSA film nudi odličan omjer cijene i kvalitete, a krasi ga sjajni satenski
              finiš i trajno ljepilo koje omogućava premještanje ispisa, jako prijanjanje uz podlogu, vanjsku izdržljivost,
              otpornost na skidanje na većini podloga te jednostavno odlaganje.
            </p>
          </section>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
      <h3 class="title">Photo-Digital Art mediji</h3>
      <div class="accordionMod panel-group">
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Satin Canvas</h4>
          <section class="accordion-inner panel-body">
            <p>
              Pruža ispise živopisnih boja, sjajne otpornosti na blijedenje uz karakterističan šarm kvalitetnog platna, sto ga čini idealnim
              za reprodukcije fotografija ili umjetničkih djela - gdje je neophodno prikazati estetsku kvalitetu autorovog
              rada - ili za primjene poput bannera i prozorskih grafika.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Photo-realistic Poster Paper</h4>
          <section class="accordion-inner panel-body">
            <p>
              Vrlo svestrani medij koji se može reciklirati, a pruža mogućnost ispisivanja živopisnih, foto-realističnih ispisa za široki
              spektar primjena kao sto su posteri, POP prikazi i ukrasi. Kao cjenovno prihvatljiva alternativa fotografskim
              medijima, HP Photo-realistic Poster Paper nudi jednostavnu post-produkciju čime smanjuje troškove i maksimizira
              produktivnost.
            </p>
          </section>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
      <h3 class="title">Baneri za vanjsku upotrebu</h3>
      <div class="accordionMod panel-group">
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Durable Frontlit Scrim Banner</h4>
          <section class="accordion-inner panel-body">
            <p>
              PVC materijal koji otporan pruža ispise živih boja i visoke rezolucije te ostavlja vrhunski dojam. Ovaj iznimno svestrani,
              vatrootporni medij je idealan za trajne ispise za vanjsku i unutarnju primjenu, što uključuje prikaze u izlozima,
              grafike za sajmove, razne druge eksterne primjene, te zidne freske.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Outdoor Frontlit Scrim Banner</h4>
          <section class="accordion-inner panel-body">
            <p>
              Svestrani medij za izuzetno široki spektar primjena u eksterijeru. Ovaj izdržljivi banner, sastavljen od slojevitog isprepletenog
              PVC-a minimizira potrebu za ponovnim ispisivanjem čime smanjuje troškove novca i vremena.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">High Density Polyethylene (HDPE) Reinforced Banner</h4>
          <section class="accordion-inner panel-body">
            <p>
              Cjenovno prihvatljiva alternativa PVC scrim bannerima, a može se reciklirati. Ovaj vrlo izdržljivi medij otporan je na klimatske
              utjecaje, a krasi ga posebna HP tehnologija površinske zaštite, koja ga čini izdržljivim, a ispise živopisne
              s jasnim detaljima.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP DuPont Tyvek Banner </h4>
          <section class="accordion-inner panel-body">
            <p>
              Iznimno svestrani, lagani medij koji se može reciklirati. Krasi ga iznimna kvaliteta ispisa, vodootpornost i široka paleta
              mogućih primjena u eksterijeru i interijeru. Ekonomican je i iznimno izdržljiv, jednostavan za izlaganje i
              zakivanje.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Mesh Banner with Liner</h4>
          <section class="accordion-inner panel-body">
            <p>
              Nudi iznimnu kvalitetu ispisa, što ga čini idealnim za bannere na zgradama koji su vrlo uočljivi, te za vanjsko oglašavanje.
              Ovaj vatrootporni mrežasti banner je dovoljno lagan, u isto vrijeme izuzetno izdržljiv, a ispise na njemu krasi
              sjajna vjernost boja. Sjajan izbor za eksterne primjene.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Backlit Scrim Banner</h4>
          <section class="accordion-inner panel-body">
            <p>
              Svestrani banner presvučen PVC-om koji je idealan za izlaganje u interijeru i eksterijeru, danju ili noću. Objedinjuje otpornost
              na trganje i ujednačenu osvjetljenost, sto ga čini dobro vidljivim i danju i noću (uz pozadinsko osvjetljenje).
            </p>
          </section>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
      <h3 class="title">Mediji za postere</h3>
      <div class="accordionMod panel-group">
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Permanent Gloss Adhesive Vinyl</h4>
          <section class="accordion-inner panel-body">
            <p>
              Povoljan, visoko-kvalitetan, samoljepljivi vinil pogodan za široki spektar primjena u interijeru i eksterijeru. Neke od tih
              primjena su freske, oglasi, POP prikazi, grafika za konferencije i sajmove. Neprozirna, sjajna površina m edija
              pogodna je za prikazivanje živopisnih detalja i boja, a ispisi su dugotrajni i izdržljivi.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Photo-realistic Poster Paper </h4>
          <section class="accordion-inner panel-body">
            <p>
              Svestrani je medij koji se može reciklirati, a pruža mogućnost ispisivanja živopisnih, foto-realističnih ispisa za širok
              spektar unutarnjih primjena kao sto su posteri, POP prikazi i ukrasi. Kao cjenovno prihvatljiva alternativa
              fotografskim medijima, HP Photo-realistic Poster Paper nudi jednostavnu post-produkciju te smanjuje troškove
              i maksimizira produktivnost.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Light Boxes - HP Backlit Scrim Banner</h4>
          <section class="accordion-inner panel-body">
            <p>
              Svestrani banner presvučen PVC-om koji je idealan za izlaganje u interijeru i eksterijeru, preko dana ili tokom noći. Objedinjuje
              otpornost na trganje i ujednacenu osvjetljenost, što ga ćini jasno vidljivim danju i noću.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Light Boxes - HP White Satin Poster Paper </h4>
          <section class="accordion-inner panel-body">
            <p>
              Višeslojni je poster papir jarko bijelog satenskog finiša moze se reciklirati, a pruža vodootporne ispise. Ispisi otporni
              na grebanje čuvaju izgled kod savijanja i pružaju otpornost na vanjske atmosferske uvjete do 6 mjeseci bez
              laminacije.
            </p>
          </section>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
      <h3 class="title">Jumbo plakati</h3>
      <div class="accordionMod panel-group">
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Durable Frontlit Scrim Banner</h4>
          <section class="accordion-inner panel-body">
            <p>
              PVC materijal koji otporan pruža ispise živih boja i visoke rezolucije te ostavlja vrhunski dojam. Ovaj iznimno svestrani,
              vatrootporni medij je idealan za trajne ispise za vanjsku i unutarnju primjenu, što uključuje prikaze u izlozima,
              grafike za sajmove, razne druge eksterne primjene, te zidne freske.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">High Density Polyethylene (HDPE) Reinforced Banner</h4>
          <section class="accordion-inner panel-body">
            <p>
              Cjenovno prihvatljiva alternativa PVC scrim bannerima, a može se reciklirati. Ovaj vrlo izdržljivi medij otporan je na klimatske
              utjecaje, a krasi ga posebna HP tehnologija površinske zaštite, koja ga čini izdržljivim, a ispise živopisne
              s jasnim detaljima.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP DuPont Tyvek Banner </h4>
          <section class="accordion-inner panel-body">
            <p>
              Iznimno svestrani, lagani medij koji se može reciklirati. Krasi ga iznimna kvaliteta ispisa, vodootpornost i široka paleta
              mogućih primjena u eksterijeru i interijeru. Ekonomican je i iznimno izdržljiv, jednostavan za izlaganje i
              zakivanje.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Heavy Textile Banner</h4>
          <section class="accordion-inner panel-body">
            <p>
              Tkani materijal koji objedinjuje izdržljivost, svestranost primjene i mogućnost recikliranja. Ovaj glatki poliesterski banner
              je vatrootporan, sto ga čini sigurnim za korištenje u interijeru.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Light Textile Display Banner</h4>
          <section class="accordion-inner panel-body">
            <p>
              Nudi svojim kupcima alternativu PVC bannerima za prikaze koje krasi fleksibilnost , izgled i privid tekstila. Ovaj vatrootporni
              netretirani poliesterski tekstilni banner dugotrajno čuva karakteristike ispisa uz prihvatljivu cijenu.
            </p>
          </section>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
      <h3 class="title">Zidni tapeti (Wall murals)</h3>
      <div class="accordionMod panel-group">
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP PVC-free Wall Paper</h4>
          <section class="accordion-inner panel-body">
            <p>
              Omogučava Vam da ponudite svojim kupcima bezmirisnu alternativu PVC supstratima za ispise zidnih freski. Ovaj kvalitetni
              i vatrootporni materijal za tapete s iznimno glatkom površinom pruza prikaze sa živopisnim bojama i visoku
              jasnoću detalja idealnih za zidne prikaze. Ispise krasi izdržljivost do 20 godina u interijeru, ukoliko nije
              pod izravnim utjecajem sunčevog svjetla. Jednostavno se postavlja pomoću nanesenog ljepila i jednostavno se
              uklanja, za sto HP prilaze i jamstvo.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Permanent Gloss Adhesive Vinyl </h4>
          <section class="accordion-inner panel-body">
            <p>
              povoljan, visoko-kvalitetan, samoljepljivi vinil pogodan za široki spektar primjena u interijeru i eksterijeru. Neke od tih
              primjena su freske, oglasi, POP prikazi, grafika za konferencije i sajmove. Neprozirna, sjajna površina medija
              pogodna je za prikazivanje živopisnih detalja i boja, a ispisi su dugotrajni i izdržljivi.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Permanent Matte Adhesive Vinyl</h4>
          <section class="accordion-inner panel-body">
            <p>
              Povoljan, visoko-kvalitetan, samoljepljivi vinil pogodan za široki spektar primjena u interijeru i eksterijeru. Neke od tih
              primjena su freske, oglasi, POP prikazi, grafika za konferencije i sajmove. Neprozirna, mat površina medija
              pogodna je za prikazivanje živopisnih detalja i boja, a ispisi su dugotrajni i izdržljivi.
            </p>
          </section>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP PVC-free Gloss Adhesive Film </h4>
          <section class="accordion-inner panel-body">
            <p>
              Alternativa monomerskom vinilu bez PVC-a. Ovaj bijeli PSA film nudi odličan omjer cijene i kvalitete, a krasi ga sjajni satenski
              finiš i trajno ljepilo koje omogućava premještanje ispisa, jako prijanjanje uz podlogu, vanjsku izdržljivost,
              otpornost na skidanje na većini podloga te jednostavno odlaganje.
            </p>
          </section>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

  </div>
  <div class="divider"></div>

  <div class="row">
    <div class="clearfix"></div>
    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
      <div class="row">
        <div class="portfolio">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web jquery item">
            <div class="portfolio-item">
              <a href="assets/img/jumboprint/jumboprint5.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                <span class="portfolio-item-hover"></span>
                <span class="fullscreen">
                  <i class="fa fa-search"></i>
                </span>
                <img src="assets/img/jumboprint/jumboprint5.jpg" alt=" " />
              </a>
              <div class="portfolio-item-title">
                <a href="single-project.html">Design Team</a>
                <p>
                  Design / Development
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp css item">
            <div class="portfolio-item">
              <a href="assets/img/jumboprint/jumboprint6.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                <span class="portfolio-item-hover"></span>
                <span class="fullscreen">
                  <i class="fa fa-search"></i>
                </span>
                <img src="assets/img/jumboprint/jumboprint6.jpg" alt=" " />
              </a>
              <div class="portfolio-item-title">
                <a href="single-project.html">Super Boy</a>
                <p>
                  Fashion / Style
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 php jquery wp item">
            <div class="portfolio-item">
              <a href="assets/img/jumboprint/jumboprint7.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                <span class="portfolio-item-hover"></span>
                <span class="fullscreen">
                  <i class="fa fa-search"></i>
                </span>
                <img src="assets/img/jumboprint/jumboprint7.jpg" alt=" " />
              </a>
              <div class="portfolio-item-title">
                <a href="single-project.html">Lady Shop</a>
                <p>
                  Business / Ecommerce
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp jquery css item">
            <div class="portfolio-item">
              <a href="assets/img/jumboprint/jumboprint7.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                <span class="portfolio-item-hover"></span>
                <span class="fullscreen">
                  <i class="fa fa-search"></i>
                </span>
                <img src="assets/img/jumboprint/jumboprint7.jpg" alt=" " />
              </a>
              <div class="portfolio-item-title">
                <a href="single-project.html">Office Workers</a>
                <p>
                  Design / Development
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>