<div class="container">
  <div class="divider"></div>
  <div class="row">
    <div class="clearfix"></div>
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
        <div class="row">
          <div class="portfolio">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp css item">
              <div class="portfolio-item">
                <app-picture url="assets/img/jumboprint/print2m-min.jpeg"></app-picture>
                <div class="portfolio-item-title">                   
                  Slike na platnu
                  <p style="padding-bottom: 22px;">
                      Jumbo print
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web jquery item">
              <div class="portfolio-item">
                <app-picture url="assets/img/jumboprint/print5m-min.jpeg"></app-picture>
                <div class="portfolio-item-title">                
                  Direktni UV tisak na pločaste materijale
                  <p>
                      Jumbo print
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 php jquery wp item">
              <div class="portfolio-item">
                <app-picture url="assets/img/jumboprint/print3m-min.jpeg"></app-picture>
                <div class="portfolio-item-title">                 
                  Direktni UV tisak na pločaste materijale
                  <p>
                      Jumbo print
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp jquery css item">
              <div class="portfolio-item">
                <app-picture url="assets/img/jumboprint/print4m-min.jpeg"></app-picture>
                <div class="portfolio-item-title">                   
                  Direktni UV tisak na pločaste materijale
                  <p>
                      Jumbo print
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 padding-bottom-20px panel-group" 
        style="background-color: #f6db2f; padding-top: 20px; border-radius: 7px;">
      <h3 class="title">Print na pločaste materijale</h3>
        <div class="accordion-item">
          <h4 class="accordion-toggle">UV flatbed printanje</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Print na forex, pleksiglas, alubond, kapa ploče, staklo, ...</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Dimenzije tiska 1600 mm x neograničeno</h4>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 padding-bottom-20px panel-group">
      <h3 class="title">Ispis na samoljepljive medije</h3>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Permanent Gloss Adhesive Vinyl </h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Photo-realistic Poster Paper</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP PVC-free Gloss Adhesive Film</h4>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 padding-bottom-20px">
      <h3 class="title">Photo-Digital Art mediji</h3>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Satin Canvas</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Photo-realistic Poster Paper</h4>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 padding-bottom-20px">
      <h3 class="title">Baneri za vanjsku upotrebu</h3>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Durable Frontlit Scrim Banner</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Outdoor Frontlit Scrim Banner</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">High Density Polyethylene (HDPE) Reinforced Banner</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP DuPont Tyvek Banner </h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Mesh Banner with Liner</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Backlit Scrim Banner</h4>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 padding-bottom-20px">
      <h3 class="title">Mediji za postere</h3>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Permanent Gloss Adhesive Vinyl</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Photo-realistic Poster Paper </h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Light Boxes - HP Backlit Scrim Banner</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Light Boxes - HP White Satin Poster Paper </h4>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 padding-bottom-20px">
      <h3 class="title">Jumbo plakati</h3>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Durable Frontlit Scrim Banner</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">High Density Polyethylene (HDPE) Reinforced Banner</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP DuPont Tyvek Banner </h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Heavy Textile Banner</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Light Textile Display Banner</h4>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 padding-bottom-20px">
      <h3 class="title">Zidni tapeti (Wall murals)</h3>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP PVC-free Wall Paper</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">Permanent Gloss Adhesive Vinyl </h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP Permanent Matte Adhesive Vinyl</h4>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-toggle">HP PVC-free Gloss Adhesive Film </h4>
        </div>
    </div>

    <div class="clearfix"></div>

  </div>
  <div class="divider"></div>

  <div class="row">
    <div class="clearfix"></div>
      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
        <div class="row">
          <div class="portfolio">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp css item">
              <div class="portfolio-item">
                <app-picture url="assets/img/jumboprint/bakery-jumbo.jpg"></app-picture>
                <div class="portfolio-item-title">                   
                  Jelovnici
                  <p>
                      Jumbo print
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web jquery item">
              <div class="portfolio-item">
                <app-picture url="assets/img/jumboprint/wallpaper-jumbo.jpg"></app-picture>
                <div class="portfolio-item-title">                
                  Wallpapers
                  <p>
                      Jumbo print
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 php jquery wp item">
              <div class="portfolio-item">
                <app-picture url="assets/img/jumboprint/print1m-min.jpeg"></app-picture>
                <div class="portfolio-item-title">                 
                  Table gradilišta
                  <p>
                      Jumbo print
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>