
            <div class="content">
                <div class="container">
                   <div class="row">
                      <div class="clearfix"></div>
                      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
                         <div class="row">
                            <div class="portfolio">
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web jquery item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/usluge/letci.jpg"></app-picture>
                                     <div class="portfolio-item-title">
                                        Umjetnički katalozi
                                        <p>
                                          Printanje, book uvez
                                        </p>
                                     </div>
                                     <div class="clearfix"></div>
                                  </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp css item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/usluge/letci2.jpg"></app-picture>
                                     <div class="portfolio-item-title">
                                        Promotivni letci
                                        <p>
                                          Printanje
                                        </p>
                                     </div>
                                     <div class="clearfix"></div>
                                  </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 php jquery wp item">
                                  <div class="portfolio-item">
                                     <app-picture url="assets/img/usluge/plakati.jpg"></app-picture>
                                     <div class="portfolio-item-title">
                                       Promotivni banneri
                                        <p>
                                          Reklamni paneli
                                        </p>
                                     </div>
                                     <div class="clearfix"></div>
                                  </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp jquery css item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/usluge/kasiranje2.jpg"></app-picture>
                                     <div class="portfolio-item-title">
                                        Ispis grafika
                                        <p>
                                          Printanje, kaširanje
                                        </p>
                                     </div>
                                     <div class="clearfix"></div>
                                  </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp jquery css item">
                                <div class="portfolio-item">
                                  <app-picture url="assets/img/usluge/folije1.jpg"></app-picture>
                                   <div class="portfolio-item-title">
                                      Izrada putokaza
                                      <p>
                                        Izrezivanje folija
                                      </p>
                                   </div>
                                   <div class="clearfix"></div>
                                </div>
                             </div>
                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp jquery css item">
                              <div class="portfolio-item">
                                <app-picture url="assets/img/usluge/folije2.jpg"></app-picture>
                                 <div class="portfolio-item-title">
                                    Izrada putokaza
                                    <p>
                                      Izrezivanje folija
                                    </p>
                                 </div>
                                 <div class="clearfix"></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp jquery css item">
                            <div class="portfolio-item">
                              <app-picture url="assets/img/usluge/zlatotisak3.jpg"></app-picture>
                               <div class="portfolio-item-title">
                                  Pozivnice za vjenčanje
                                  <p>
                                    Zlatotisak
                                  </p>
                               </div>
                               <div class="clearfix"></div>
                            </div>
                         </div>
                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp jquery css item">
                          <div class="portfolio-item">
                            <app-picture url="assets/img/usluge/zlatotisak4.jpg"></app-picture>
                             <div class="portfolio-item-title">
                                Pozivnice za vjenčanje
                                <p>
                                  Srebrni tisak
                                </p>
                             </div>
                             <div class="clearfix"></div>
                          </div>
                       </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web css wp item">
                                  <div class="portfolio-item">
                                      <app-picture url="assets/img/usluge/tabla1.jpg"></app-picture>
                                      <div class="portfolio-item-title">               
                                        Tabla gradilišta
                                        <p>
                                          Reklamni paneli
                                        </p>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web php item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/jumboprint/ricoh9003.jpg"></app-picture>
                                      <div class="portfolio-item-title">
                                        Ricoh MP 9003
                                        <p>
                                          High resolution printer
                                        </p>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wp css item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/jumboprint/ricoh2201.jpg"></app-picture>
                                      <div class="portfolio-item-title">               
                                        Ricoh MP CW 2201 PS
                                        <p>
                                          High resolution printer
                                        </p>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web jquery item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/jumboprint/hp7200.jpg"></app-picture>
                                      <div class="portfolio-item-title">
                                          HP DesignJet T7200              
                                        <p>
                                            High resolution printer                  
                                        </p>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 css php wp item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/jumboprint/hp1300side.jpg"></app-picture>
                                      <div class="portfolio-item-title">                   
                                        HP DesignJet T1300
                                        <p>
                                            High resolution printer
                                        </p>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 css php wp item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/jumboprint/hp1300.jpg"></app-picture>
                                      <div class="portfolio-item-title">                 
                                        HP DesignJet T1300
                                        <p>
                                            High resolution printer
                                        </p>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 web php wp item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/jumboprint/ricoh5200side.jpg"></app-picture>
                                      <div class="portfolio-item-title">                   
                                        Ricoh PRO C 5200 S
                                        <p>
                                            High resolution printer
                                        </p>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                               </div>
                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 css jquery wp item">
                                  <div class="portfolio-item">
                                    <app-picture url="assets/img/jumboprint/ricoh5200.png"></app-picture>
                                      <div class="portfolio-item-title">                
                                        Ricoh PRO C 5200 S
                                        <p>
                                            High resolution printer
                                        </p>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
