<!-- Main Content start-->
<div class="main-content">
  <div class="container margin-bottom-50px">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-print"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-print"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Plotanje</h3>
            <p>
              Plotanje nacrta c/b ili u boji, plotanje nacrta u boji na hamer papir, plotanje nacrta u boji
              na foto papir, plotanje nacrta u boji na paus papir, plotanje nacrta c/b na paus papir, plotanje nacrta u boji
              na paus papir. Formatiranje nacrta na A4 i A3 format su uključeni u cijenu.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-files-o"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-files-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Fotokopiranje</h3>
            <p>
              Fotokopiranje u A4 formatu c/b. 
              Fotokopiranje u A4 formatu u boji. 
              Fotokopiranje u A3 formatu c/b ili u boji.
              Mogućnost fotokopiranja knjiga, skripti, projekata, nacrta, kataloga, osobnih dokumenata, itd.
              Jednostrano ili obostrano fotokopiranje.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-picture-o"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-picture-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Plastificiranje i kaširanje</h3>
            <p>
              Pružamo kvalitetnu izradu plastificiranih promotivnih i drugih materijala u formatima po izboru. u sjajnoj ili mat izvedbi plastifikacije. 
              Kaširanje (ljepljenja na čvrstu ravnu podlogu) fotografija, postera, umjetničkih slika u raznim formatima.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-file-image-o"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-file-image-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Skeniranje</h3>
            <p>
              Skeniranje nacrta c/b (do širine 1100 mm PDF, TIFF, JPG format). 
              Skeniranje nacrta u boji (do širine 1100 mm PDF, TIFF, JPG format).
              Skeniranje A4,A3 c/b i u boji (PDF, TIFF, JPG).
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-book"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-book"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Uvezivanje</h3>
            <p>
              Izrada PVC fascikli, mapa za projekte, registratora, spiralnih uveza raznih demnzija, termo uveza raznih dimenzija. 
              Uvezivanje knjiga, knjižica, kataloga i promotivnih materijala.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-edit"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-edit"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Zlatotisak</h3>
            <p>
              Usluga zlatnog ispisa na različite vrste korica (diplomski, magistarski, doktorski radovi...) 
              Ispis na planere, dnevnike, korice knjiga, foto albume, čestitke, poklone i sl.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Content end-->