<!-- Main Content start-->
<div class="main-content">
  <div class="container margin-bottom-20px">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-print"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-print"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Plotanje</h3>
            <p>
              Fotokopiranje nacrta Plotanje nacrta c/b Plotanje nacrta u boji Plotanje nacrta u boji na hamer papir Plotanje nacrta u boji
              na foto papir Plotanje nacrta u boji na paus papir Plotanje nacrta c/b na paus papir Plotanje nacrta u boji
              na paus papir Formatiranje nacrta na A4 i A3 format (uključeni u cijenu)
            </p>
            <a href="#">Read More
              <i class="fa fa-angle-right"></i>
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-files-o"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-files-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Fotokopiranje</h3>
            <p>
              Fotokopiranje A4 c/b Fotokopiranje A4 u boji Fotokopirnje A3 u boji
            </p>
            <a href="#">Read More
              <i class="fa fa-angle-right"></i>
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-picture-o"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-picture-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Plastificiranje i kaširanje</h3>
            <p>
              Sjajna ili matt plastifikacija Pvc pjenaste ploče - Forex Plexiglass - Extrudirano akrilno staklo Višeslojne polikarbonatne
              ploče - Lexan Sačasti polypropylen Lagani polypropylen s bubble strukturom Kartoni - mikrovalna ljepenka Triplex
            </p>
            <a href="#">Read More
              <i class="fa fa-angle-right"></i>
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-file-image-o"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-file-image-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Skeniranje</h3>
            <p>
              Skeniranje nacrta c/b (do širine 914 mm PDF,TIFF,JPG format) Skeniranje nacrta u boji (do širine 914 mm PDF, TIFF,JPG format
              Skeniranje A4,A3 cb i boja (PDF,TIFF,JPG)
            </p>
            <a href="#">Read More
              <i class="fa fa-angle-right"></i>
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-eye"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-eye"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Ostalo</h3>
            <p>
              Pvc fascikle Pvc fascikle mape za projekte Registratori Spiralni uvezi raznih dimenzija Termo uvezi raznih dimenzija Kaširanje
              Plastificiranje
            </p>
            <a href="#">Read More
              <i class="fa fa-angle-right"></i>
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-edit"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-edit"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Nešto</h3>
            <p>
              ...
            </p>
            <a href="#">Read More
              <i class="fa fa-angle-right"></i>
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Content end-->