<!-- Product Content Start-->
<div class="product-lead bottom-pad">
    <div class="bg-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 text-center animate_afl d1">
                    <img src="assets/img/jumboprint/plocasti1.jpg" alt="">
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 animate_afr d3">
                    <div class="app-service">
                        <h3>Jumbo Print</h3>

                        <h4>Visoko kvalitetan ispis u velikim formatima</h4>
                        <p>Vršimo usluge ispisa velikog formata za vanjsku i unutarnju primjenu. Ispis radimo na novom Epson SC 40610 
                            printeru koji koristi inovativnu tehnologiju s eko solvet tintama, bez štetnog utjecaja na okoliš.
                            Ispisi su otporni na grebanje, mrljanje i utjecaj vode. Nezapaljive tinte 
                            nemaju dodatnih upozorenja i sigurne su za rukovanje i ne zahtijevaju posebno prozračne prostorije.
                        </p>

                        <h4 style="padding-top: 15px;">Print na pločaste materijale</h4>
                        <p>UV flatbed ispis na visoko specijaliziranom uređaju Mutoh ValueJet 1638UH na različite materijale: 
                            forex, pleksiglas, alubond, kapa ploče, staklo..
                        </p>

                        <br>
                        <div class="learnmore">
                            <a class="btn-special btn-grey" routerLink="/jumboprint">Saznaj više</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Content end-->