<!-- Product Content Start-->
<div class="product-lead bottom-pad">
    <div class="bg-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 text-center animate_afl d1">
                    <img src="assets/img/machines/hplatex4.jpg" alt="iPhone5c">
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 animate_afr d3">
                    <div class="app-service">
                        <h3>Jumbo Print</h3>
                        <h4>Pružamo visoko kvalitetan ispis u velikim formatima</h4>
                        <p>Vršimo usluge ispisa velikog formata za vanjsku i unutarnju primjenu. Ispis vršimo na novom HP L25500
                            Designjet printeru koji koristi inovativnu tehnologiju Latex tinti koje pružaju kvalitetu i izdržljivost
                            usporedivu s eko solvet tintama, bez utjecaja na okoliš.
                        </p>
                        <p>
                            Ispisi su otporni na grebanje, mrljanje i utjecaj vode (na vodootpornim medijima). Nezapaljive HP Latex tinte na vodenoj
                            bazi nemaju dodatnih upozorenja, sigurne su za rukovanje i ne zahtijevaju posebno prozračne prostorije.
                        </p>
                        <div class="divider"></div>
                        <div class="learnmore">
                            <a class="btn-special btn-grey" routerLink="/jumboprint">Saznaj više</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Content end-->