<!-- Recent works start-->
<div class="bottom-pad">
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afl d1">
                <h3 class="title">Projekti</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="row portfolio-pad">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d2">
                        <div class="portfolio-item">
                                <app-picture url="assets/img/usluge/kasiranje2.jpg"></app-picture>
                                <div class="portfolio-item-title">
                                    Ispis grafika
                                    <p>
                                        Printanje, kaširanje
                                    </p>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d3">
                        <div class="portfolio-item">
                            <app-picture url="assets/img/usluge/plakati.jpg"></app-picture>
                            <div class="portfolio-item-title">
                                Promotivni banneri
                                <p>
                                    Reklamni paneli
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d4">
                        <div class="portfolio-item">
                            <app-picture url="assets/img/usluge/bookuvez.jpg"></app-picture>
                            <div class="portfolio-item-title">
                                Diplomski radovi
                                <p>
                                    Zlatotisak, uvez knjiga
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row portfolio-pad">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d7">
                    <div class="portfolio-item">
                        <app-picture url="assets/img/usluge/bakery1.jpg"></app-picture>
                        <div class="portfolio-item-title">
                            Jelovnici
                            <p>
                                Jumbo print
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d7">
                    <div class="portfolio-item">
                        <app-picture url="assets/img/usluge/renderi1.jpg"></app-picture>
                        <div class="portfolio-item-title">
                            Wallpapers
                            <p>
                                Jumbo print
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d7">
                    <div class="portfolio-item">
                        <app-picture url="assets/img/newpic.jpg"></app-picture>
                        <div class="portfolio-item-title">
                            Izrada jelovnika
                            <p>
                                Printanje i uvezivanje
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="row portfolio-pad">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d5">
                        <div class="portfolio-item">
                            <app-picture url="assets/img/usluge/letci2.jpg"></app-picture>
                            <div class="portfolio-item-title">
                                Promotivni letci
                                <p>
                                    Printanje
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d6">
                        <div class="portfolio-item">
                            <app-picture url="assets/img/usluge/letci.jpg"></app-picture>
                            <div class="portfolio-item-title">
                                Umjetnički katalozi
                                <p>
                                    Printanje, book uvez
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d7">
                        <div class="portfolio-item">
                            <app-picture url="assets/img/usluge/kasiranje3.jpg"></app-picture>
                            <div class="portfolio-item-title">
                                Table gradilišta
                                <p>
                                    Reklamni paneli
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d5">
                      <div class="portfolio-item">
                          <app-picture url="assets/img/zlatotisak/jelovnik1.jpeg"></app-picture>
                          <div class="portfolio-item-title">
                              Jelovnici
                              <p>
                                  Zlatotisak
                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d6">
                      <div class="portfolio-item">
                          <app-picture url="assets/img/zlatotisak/diploma1.jpeg"></app-picture>
                          <div class="portfolio-item-title">
                              Ispis diploma
                              <p>
                                Zlatotisak
                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d7">
                      <div class="portfolio-item">
                          <app-picture url="assets/img/zlatotisak/letak1.jpeg"></app-picture>
                          <div class="portfolio-item-title">
                              Promotivni letci
                              <p>
                                Zlatotisak
                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- Recent work end-->