<div class="divider">
</div>
<!-- 3 Column Big Services -->
<div class="services-big padding-bottom-20px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="title">Naše usluge</h3>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box">
          <div class="content-box-icon">
            <img src="assets/img/usluge/plotanje.jpg" alt=" " />
          </div>
          <div class="content-box-info">
            <h4>Plotanje</h4>
            <p>
              Usluge plotanja arhitektonskih, građevinskih i geodetskim nacrta u mjerilu po želji. Plotanje na velike formate, crno-bijelo
              ili u boji. Ispis podloga iz modernih računalnih programa poput AutoCAD-a.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box">
          <div class="content-box-icon">
            <img src="assets/img/usluge/kopiranje.jpg" alt=" " />
          </div>
          <div class="content-box-info">
            <h4>Fotokopiranje</h4>
            <p>
              Fotokopiranje većih ili manjih količina skripti, projekata, knjiga ili osobnih dokumenata. Fotokopiranje crno-bijelo ili
              u boji, jednostrano ili obostrano.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box">
          <div class="content-box-icon">
            <img src="assets/img/usluge/skeniranje.jpg" alt=" " />
          </div>
          <div class="content-box-info">
            <h4>Skeniranje</h4>
            <p>
              Računalno skeniranje fotografija, stranica iz knjiga, projekata ili osobnih dokumenata. Skeniranje je moguće crno bijelo
              ili u boji, a skenirana fotografija se sprema u format po želji.
            </p>
          </div>
        </div>
      </div>
      <!-- 3 Column Services End-->
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- 3 Column Big Services -->
<div class="services-big">
  <div class="container">
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box">
          <div class="content-box-icon">
            <img src="assets/img/usluge/plastificiranje.jpg" alt=" " />
          </div>
          <div class="content-box-info">
            <h4>Plastificiranje</h4>
            <p>
              Pružamo kvalitetnu izradu plastificiranih reklamnih i drugih materijala u formatima po izboru.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box">
          <div class="content-box-icon">
            <img src="assets/img/usluge/kasiranje.jpg" alt=" " />
          </div>
          <div class="content-box-info">
            <h4>Kaširanje</h4>
            <p>
              Pružamo usluge kaširanja (ljepljenja na čvrstu ravnu podlogu) fotografija, postera, umjetničkih slika u raznim formatima.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box">
          <div class="content-box-icon">
            <img src="assets/img/usluge/uvezivanje.jpg" alt=" " />
          </div>
          <div class="content-box-info">
            <h4>Uvezivanje projekata</h4>
            <p>
              Uvezivanje arhitektonskih, građevinskih i strojarskih nacrta i tekstova u gotove projekte. Pružamo širok izbor tehnika uvezivanja
              projekata i odgovarajućih korica.
            </p>
          </div>
        </div>
      </div>
      <!-- 3 Column Services End-->
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="divider"></div>

<div class="divider"></div>
<!-- 3 Column Services -->
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="title">Dodatne usluge</h3>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-font"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-font"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>Zlatotisak</h4>
            <p>
              Usluga zlatnog ispisa na različite vrste korica (diplomski, magistarski, doktorski radovi...)
              Naš najnoviji pisač, Foil ExpressTM ima mogućnost ispisa zlatotiska na planere, dnevnike, korice knjiga, foto albume, čestitke, poklone i sl. 
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-book"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-book"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>Uvez knjiga</h4>
            <p>
              Uvezivanje arhitektonskih, građevinskih i strojarskih nacrta i tekstova u gotove projekte. Pružamo širok izbor tehnika uvezivanja
              projekata i odgovarajućih korica.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
        <div class="content-box ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1">
                <i class="fa fa-pencil-square-o"></i>
              </div>
              <div class="ch-info-back">
                <i class="fa fa-pencil-square-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h4>Reklamni paneli</h4>
            <p>
              Radimo plakate, reklame i reklamne panele velikih dimenzija i visoke rezolucije ispisa, u potpunosti prilagođeno vašim 
              željama i potrebama.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="service-reasons">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3 class="title">Zašto raditi s nama?</h3>
        </div>
        <div class="divider"></div>
        <div class="reasons">
          <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d1">
            <div class="content-box big ch-item bottom-pad-small">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="ch-info-back">
                    <i class="fa fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="content-box-info">
                <h3>Visoka kvaliteta</h3>
                <p>
                  Bilo da se radi o plotanju, zlatotisku, ispisu u visokoj rezoluciji, ili izradi reklamnih materijala, naša tvrtka uvijek isporučuje vrhunske
                  proizvode, uz visoko kvalitetan ispis i materijale.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d2">
            <div class="content-box big ch-item bottom-pad-small">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="ch-info-back">
                    <i class="fa fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="content-box-info">
                <h3>Moderna tehnologija</h3>
                <p>
                  Naša je tvrtka opremljena modernom grafičkom opremom i suvremenim strojevima, kako bismo pružili što bolju uslugu našim klijentima.
                  U našu računalnu opremu i edukaciju djelatnika ulažemo neprestano s ciljem postizanja što boljeg proizvoda.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 animate_afc d3">
            <div class="content-box big ch-item">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="ch-info-back">
                    <i class="fa fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="content-box-info">
                <h3>Brzina isporuke</h3>
                <p>
                  Ključna stvar u svim projektima je pravovremena isporuka projektne dokumentacije. S nama uvijek možete računati na brzu
                  i odgovornu isporuku, a kako bi uštedjeli na vremenu podloge nam možete poslati mailom.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>